MONGO_URI=mongodb+srv://yuvasanap2025_db_user:ugdWLR9zNTdgPGrs@cluster0.uqtqsqs.mongodb.net/?appName=Cluster0
JWT_SECRET=supersecretjwtkey
CLOUDINARY_CLOUD_NAME=dgwpmxbk7
CLOUDINARY_API_KEY=681517114758558
CLOUDINARY_API_SECRET=9lOTg8iGgbRrJ1Yt4cIRIYYJvYs
PORT=5000
